################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/ProjectSOS/v16/ipch/AutoPCH/30ba050a9ba115fd/2TEAM_.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/6c50fa941c88d0be/D. STL_VECTOR.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/bbc957dd06b5738e/D. ISTREAM_INTRO.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/f4077f2252eacabe/1팀_FILEIO_EMPLOYEE_5.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/c4a022f508aef5b0/1팀_FILEIO_EMPLOYEE_5.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/f6669c80bd10ac7f/1팀_FILEIO_EMPLOYEE_5.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/cf25fde6a5d08c66/2TEAM_.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/a493cf15e23f76fb/R. 22.03.25.HW.ipch
/.vs/ProjectSOS/v16/ipch/AutoPCH/22a6ead70e49241/1팀_FILEIO_EMPLOYEE_5.ipch
