################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/ProjectSOS/v16/ipch/AutoPCH/30ba050a9ba115fd/2TEAM_.ipch
